/* Ajuste do main para garantir que o conteúdo seja exibido sem cortar */
main {
    min-height: calc(100vh - 160px);
    padding: 20px;
}

/* Estilo do corpo da página */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f89412ef, #f5c85e);
    margin: 0;
    padding: 0;
}

/* Estilo para os cards */
.card {
    background-color: #fffffff3;
    color: #040404;
    border: none;
    border-radius: 10px;
}

/* Efeito ao passar o mouse sobre os cards */
.card:hover {
    background-color: #fbf188f6;
}

/* Estilo da navbar */
.navbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* Estilo do link da navbar ao passar o mouse */
.navbar-nav .nav-link:hover {
    color: yellow !important;
}

/* Ajuste do container de cards para ficar alinhado */
.wrapper-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

/* Ajuste da barra de pesquisa para centralizá-la */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

/* Input da pesquisa */
#pokemon-search {
    max-width: 300px;
    width: 100%;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid #102983;
    font-size: 1rem;
    flex: 1;
}

/* Botão de busca */
#search-button {
    padding: 7px;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 0 0 100px;
}

/* Efeito de hover no botão de busca */
#search-button:hover {
    background-color: #0a3fec;
}

/* Espaçamento inferior no header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Estilo da logo no header */
.header-logo {
    max-width: 25vw;
}

/* Estilo do overlay do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 116, 77, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo do conteúdo do modal */
.modal-content {
    background: linear-gradient(to bottom, #ffb300, #fac56a);
    padding: 20px;
    border-radius: 30px;
    width: 80%;
    max-width: 500px;
    position: relative;
    color: #040404;
}

/* Botão de fechar o modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
}

/* Estilo para os botões de evolução */
#prev-evolution, #next-evolution {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Cor de fundo padrão e efeito hover para o botão de evolução anterior */
#prev-evolution {
    background-color: #4A90E2;
    color: white;
}

#prev-evolution:hover {
    background-color: #111111;
}

/* Cor de fundo padrão e efeito hover para o botão de próxima evolução */
#next-evolution {
    background-color: #4A90E2;
    color: white;
}

#next-evolution:hover {
    background-color: #111111;
}

/* Estilo para botão desativado */
#next-evolution:disabled, #prev-evolution:disabled {
    background-color: #ccccccde;
    color: #666666;
    cursor: not-allowed;
}

/* Aumenta o tamanho da imagem do Pokémon no modal */
.pokemon-image img {
    width: 150px;
    height: auto;
    max-width: 100%;
}

/* Estilo do footer */
footer {
    width: 100%;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
